.Home {
    position: relative;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 75%;
    display: inline-table;
    text-align: center;
}
.logo {
    margin-top: 115px;
}
.logoResp {
    display: none;
}

@media only screen and (max-width: 960px) {
    .Home {
        width: 80%;
    }
}

@media only screen and (max-width: 480px) {
    .Home {
        width: 100%;
    }
    .logo {
        display: none;
    }
    .logoResp {
        display: inline-block;
    }
}