
.Tabs {
    width: 100%;
    height: 180px;
    display: inline-table;

}

.tabEntry {
    width: 280px;
    height: 115px;
    display: inline-table;
    filter: saturate(50%);
    margin: 5px;
    border-radius: 2px;
}

.tabEntry:before {
    filter: brightness(50%);
}

.tabEntry img {
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
}

@font-face {
    font-family: 'MeteoconsRegular';
    src: url('../../resources/meteocons-webfont.eot');
    src: url('../../resources/meteocons-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../resources/meteocons-webfont.woff') format('woff'),
    url('../../resources/meteocons-webfont.ttf') format('truetype'),
    url('../../resources/meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.temp {
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: lighter;
    font-size: 36px;
    display: inline-table;
}

.icon {
    font-family: "MeteoconsRegular", sans-serif;
    font-size: 102px;
    color: white;
    position: absolute;
    display: inline-block;
    height: auto;
    left: 5%;
    transform: translate(0, -17px);
}

.right {
    position: absolute;
    float: right;
    text-align: center;
    display: inline-block;
    line-height: 36px;
}

.tempValue {
    margin-right: 24px;
}

.celsius {
    font-size: 14px;
    font-weight: bold;
    top: -6px;
    position: absolute;
}
.placeName {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 18px;
}