.SearchField {
    width: 100%;
    height: 180px;
    margin: 102px 0 56px 0;
    /*opacity: 0.5;*/
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    display: inline-table;
}

.SearchFieldContent {
    display: table-cell;
    vertical-align: middle;
}



.how {
    font-family: "Pacifico", sans-serif;
    font-size: 24px;
    color: #4a4a4a;
}

.searchLabel {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    position: absolute;
    transform: translate(12px, 11px);
    color: #4a4a4a;
}

.addTab {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    color: #c7dd34;
    position: absolute;
    right: 13%;
    font-size: 34px;
    transform: translate(0, -5px);
}

.addTab:hover {
    cursor: pointer;
}

.inputField {
    margin-top: 15px;
}

.citySearchField {
    font-family: "Lato", sans-serif;
    width: 80%;
    border-radius: 3px;
    border-width: 10px;
    border-style:solid;
    border-color: white;
    text-indent: 75px;
    color: #4a4a4a;
    outline: none;
}

@media only screen and (max-width: 480px) {
    .SearchField {
        margin: 0 0 17px 0;
        height: 106px;
    }
    .how {
        font-size: 18px;
    }
    .citySearchField {
        width: 95%;
    }
    .addTab {
        right: 6%;
    }
}
